.header {
    margin: 31px 0 47px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
  }
  &__langs {
    display: flex;
    gap: 18px;

    font-size: 24px;
    font-weight: 400;
    p{
        padding-bottom: 4px;
        transition: all .1s ease-in-out ;
    }
  }
}
#ru.active,
#en.active {
  border-bottom: 2px solid #ffffff;
}
