.lead {
  margin-bottom: 80px;

  &__wrapper {
  }
  &__title {
    text-align: center;
    font-size: 96px;
    font-weight: 900;
    line-height: 96.818%;
    max-width: 782px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  &__subtitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    max-width: 583px;
    margin: 0 auto;
    margin-bottom: 78px;
  }
  &__image {
    position: relative;
    max-width: 984px;
    margin: 0 auto;

    img:nth-child(2) {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 10px;
    }
  }
  &__caption {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 10px;
  }
}
